.btn_red{
  
}

.btn_style{
  display: inline-block;
  padding: 0 40px;
  height: 46px;
  line-height: 42px;
  border: 2px solid #c72127;

  -webkit-transition: background .25s ease-in-out;
  -o-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;

  background: #e18a8d;
  color: #fff;
  font-size: 16px;
  font-family: 'ssemib', sans-serif;
}
  .btn_style:hover{
    background: #c72127;
    text-decoration: none;
    color: #fff;
  }

.btn_buy{
  display: inline-block;
  position: relative;
  width: 150px;
  height: 40px;
  line-height: 40px;
  padding-left: 75px;

  background: #dedfdf;
  border-radius: 35px;
  font-size: 16px;
  color: #22313f;
  text-transform: uppercase;
  font-family: 'ssemib', sans-serif;
  text-align: left !important;

  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
  .btn_buy span{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;

    background: #c4161c;
    color: #fff;
    text-align: center;
    font-size: 18px;
  }
  .btn_buy:hover{
    padding-left: 50px;
    text-decoration: none;
    color: #22313f;
  }
  .btn_buy:hover span{
    transform: translateX(110px);
    background: #029a09;
  }