.cart_item{
  position: relative;
  width: 100%;
}
  .cart_item .cart_item_name{
    font-size: 16px;
    line-height: 22px;
    color: #22313f;
    font-family: 'ssemib', sans-serif;

    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
  }
    .cart_item .cart_item_name:hover{
      color: #c14349;
      text-decoration: none;
    }
  .cart_item .cart_item_price{}
  .cart_item .cart_item_counter{}