#footer{}

#footer .top{
  background: #edf0f3;
  padding: 50px 0;
}

#footer .bottom{
  height: 50px;
  line-height: 50px;

  font-size: 14px;
  color: #22313f;
}
  #footer .bottom img{
    display: inline-block;
    position: relative;
    top: 6px;   
    margin-left: 20px;
  }

#footer .copy{
  float: left;
}
#footer .welldo{
  float: right;
}
/* footer new one*/
#footer .header_ul_style{
    margin: 0;
}
    #footer .header_ul_style a{
        font-size: 14px !important;
        font-family: 'sreg', sans-serif;
    }

@media(max-width: 767px){
  #footer .bottom{
    height: auto;
    padding: 10px 0;
    line-height: 25px;
  }

  #footer .copy,
  #footer .welldo{
    float: none;
    text-align: center;
  }

}