/* header styles */
#header{}
  #header > .container{
    height: 80px;
    position: relative;

    padding-top: 20px;
  }

/* btn menu */
.header_menu_wrapper{
  position: relative;
}
#header_menu_btn{
  margin-top: 10px;

  color: #4b5762;
  font-size: 24px;
  cursor: pointer;

  transition: color .25s ease-in-out;
}
  #header_menu_btn:hover{
    color: #c14349;
  }

/* header menu */
.header_menu{
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 100;
  width: 875px;

  opacity: 0;
  visibility: hidden;

  transition: all .25s ease-in-out;
}
  /* header menu active */
  .header_menu.on{
    opacity: 1;
    visibility: visible;    
  }

  .header_menu_content{
    padding: 30px;

    border: 1px solid #e8eaeb;
    background-color: #fff;  
  }

  /* + __core_shared_menu in theme-default.css*/

/* header ul */
.header_ul_style{
  margin-left: 55px;
  margin-top: 9px;
  float: left;
}
  .header_ul_style > li{
    float: left;
    margin-left: 25px;
  }
    .header_ul_style > li:first-child{
      margin-left: 0;
    }

  .header_ul_style > li > a{
    color: #22313f;
    font-size: 16px;
    font-family: 'ssemib', sans-serif;

    transition: color .25s ease-in-out;
  }
    .header_ul_style > li > a:hover{
      text-decoration: none;
      color: #c72127;
    }
  
  .header_ul_style .icon-angle-arrow-down,
  .header_ul_style .icon-right-arrow{
    display: inline-block;
    position: relative;
  }
  .header_ul_style .icon-angle-arrow-down{
    font-size: 10px;
  }
  .header_ul_style .icon-right-arrow{
    margin-right: 7px;
    top: -2px;

    font-size: 8px;
    color: #c72127;
  }

  /* header_ul_style with dropdown */
  .header_ul_style .dropdown{
    position: relative;
  }
    .header_ul_style .dropdown.active{
      color: #c72127;
    }
  .dropdown_content_wrapper{
    width: 440px;
    min-height: 240px;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;

    border: 1px solid #e8eaeb;
    background: #fff;
  }
    .dropdown_content{
      width: 100%;
      height: 100%;
    }
      .dropdown_content > li{
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        min-height: 39px;
        line-height: 39px;

        color: #22313f;
        font-size: 14px;
      }
      .dropdown_content .btn_red{
        color: #fff;
      }
      .dropdown_content span,
      .dropdown_content a{
        width: 130px;
      }
      .dropdown_content ul{
        width: 300px;
      }

  
/* cart */
.header_cart_wrapper{
  position: relative;
  margin: 2px 25px 0;
}
.header_cart_button{
  font-size: 35px;
  cursor: pointer;
}
.header_cart_counter{
  position: absolute;
  top: -2px;
  right: -5px;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;

  border-radius: 50%;
  
  font-family: 'ssemib', sans-serif;
  font-size: 12px;
  background-color: #029b0b;
  color: #fff;
  text-align: center;
}


/* logo */
#header .logo{}

/* header cart */
.header_cart{
  position: absolute;
  top: 80px;
  right: 15px;
  width: 455px;
  padding: 15px 30px;

  border: 1px solid #e8eaeb;
  z-index: 100;

  background: #fff;
}
  
  /* + cart.css*/



@media(max-width: 991px){
  .header_menu{
    width: 600px;
  }
  .header_menu_content ul:last-child{
    margin-top: 45px;
  }

    
}
@media(max-width: 767px){
  .header_menu_content ul{
    margin-top: 45px;
  }
    .header_menu_content ul:first-child{
      margin-top: 0;
    }
  #header_menu_btn{
    margin-right: 25px;
  }
  .header_menu{ 
    width: 80%; 
    left: -16px;
  }
  .header_cart{
    width: calc(100% - 30px);
  }
  
  .header_cart img{
    display: inline-block;
    margin: 0 auto;
  }
  .header_cart .cart_info{
    margin: 0 !important;
  }
  .header_cart .cart_item{
    flex-direction: column !important;
  }
  .header_cart_wrapper{ margin: 2px 0 0; } 
}
