/* header styles */
#header{
  border-bottom: 1px solid #ccc;
}
  #header > .container{
    height: 80px;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

/* btn menu */
.header_menu_wrapper{
  position: relative;
}
#header_menu_btn{

  color: #4b5762;
  font-size: 24px;
  cursor: pointer;

  transition: color .25s ease-in-out;
}
  #header_menu_btn:hover{
    color: #c14349;
  }

/* header menu */
.header_menu{
  position: absolute;
  left: 0;
  top: 52px;
  z-index: 100;

  opacity: 0;
  visibility: hidden;

  transition: all .25s ease-in-out;
}
  /* header menu active */
  .header_menu.on{
    opacity: 1;
    visibility: visible;    
  }

  .header_menu_content{
    padding: 30px;

    border: 1px solid #e8eaeb;
    background-color: #fff;  
  }

  /* + __core_shared_menu in theme-default.css*/

/* header ul */
.header_ul_style{
  margin-left: 55px;
}
  .header_ul_style li{
    float: left;
    margin-left: 25px;
  }
    .header_ul_style li:first-child{
      margin-left: 0;
    }

  .header_ul_style a{
    color: #22313f;
    font-size: 16px;
    font-family: 'ssemib', sans-serif;

    transition: color .25s ease-in-out;
  }
    .header_ul_style a:hover{
      text-decoration: none;
      color: #c72127;
    }
  
  .header_ul_style .icon-angle-arrow-down,
  .header_ul_style .icon-right-arrow{
    display: inline-block;
    position: relative;
  }
  .header_ul_style .icon-angle-arrow-down{
    font-size: 10px;
  }
  .header_ul_style .icon-right-arrow{
    margin-right: 7px;
    top: -2px;

    font-size: 8px;
    color: #c72127;
  }

  /* header_ul_style with dropdown */
  .header_ul_style .dropdown{
    position: relative;
  }
    .header_ul_style .dropdown.active{
      color: #c72127;
    }
  .dropdown_content_wrapper{
    width: 440px;
    height: 240px;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;

    border: 1px solid #e8eaeb;
    background: #fff;
  }
    .dropdown_content{
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
      .dropdown_content .left{
        width: 130px;
        padding-top: 28px;
        overflow: visible;

        color: #22313f;
        font-size: 14px;
        text-align: center;
      }
      .dropdown_content .right{
        width: 300px;
      }

  
/* cart */
.header_cart_wrapper{
  position: relative;
  margin: 0 25px;
}
.header_cart_button{
  font-size: 35px;
  cursor: pointer;
}
.header_cart_counter{
  position: absolute;
  top: -2px;
  right: -5px;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;

  border-radius: 50%;
  
  font-family: 'ssemib', sans-serif;
  font-size: 12px;
  background-color: #029b0b;
  color: #fff;
  text-align: center;
}


/* logo */
#header .logo{}

/* header cart */
.header_cart{
  position: absolute;
  top: 80px;
  right: 15px;
  width: 455px;
  padding: 30px;

  border: 1px solid #e8eaeb;
  z-index: 100;

  background: #fff;
}
  /* + cart.css*/