#slider{
  height: 650px;
}
  .slick-slide{
    position: relative;
  }
  #slider .slider_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
  }
  #slider .slider_container .ck_editor{
    text-align: right;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    text-shadow: 0 0 2px #000;
  }

  #slider .btn_red{
    float: right;
  }

/* mainpage_grid_wrapper */
.mainpage_grid_wrapper{}
  .mainpage_grid_wrapper .block{
    display: block;
    position: relative;
    margin-bottom: 30px;
    padding: 0;
  }
    .mainpage_grid_wrapper .block:hover img{
      opacity: .9;
    }
    .mainpage_grid_wrapper .block:hover .title{
      text-shadow: 0 0 4px #000;
    }
  .mainpage_grid_wrapper .title{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 30px;
    
    text-shadow: 0 0 2px #000;
    font-size: 24px;
    color: #fff;
    line-height: 28px;
  }

@media (min-width: 767px) and (max-width: 991px){
  .mainpage_grid_wrapper .last_news{
    padding: 0;
  }
  .mainpage_grid_wrapper .last_news .block{
    width: 50%;
    padding: 0 15px;
    float: left
  }
}
@media(max-width: 767px){
  .mainpage_grid_wrapper{
    margin-top: 15px;
  }
  .mainpage_grid_wrapper .col-md-4{
    padding: 0;
  }

  #slider .slider_container .ck_editor{
    text-align: center;
    font-size: 30px;
  }
}