/* product default styles -> exterior, item pages*/
.product{
  position: relative;
  border: 1px solid #e8eaeb;
  float: left;
  width: 100%;
  margin-bottom: 30px;

  overflow: hidden;
}
  .product.sale{
    border: 1px solid #c4161c;
  }
  .product > div:first-child {
    padding: 0;
  }
  
    .product a.name:hover{
      color: #c4161c;
      text-decoration: none;
    }
  .product .price{
    font-size: 36px;
    line-height: 36px;
    color: #c4161c;
    font-family: 'slight', sans-serif;
  }
  .product .old_price{
    margin-left: 40px;

    text-decoration: line-through;
    font-size: 24px;
    line-height: 24px;
    color: #b5b5b5;
    font-family: 'slight', sans-serif;
  }

  .product .sale_discount_popup{
    position: absolute;
    z-index: 2;
    top: 15px;
    left: -25px;
    height: 25px;
    line-height: 25px;
    width: 100px;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

    text-align: center;
    font-size: 16px;
    font-family: 'sbold', sans-serif;
    font-style: italic;
    color: #fff;
    background: #c4161c;

  }

/* product exterior styles only */
.exterior_page .product{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
  /* styles for product with linked title */
  .product a.name{
    display: inline-block;

    font-size: 24px;
    line-height: 28px;
    color: #22313f;
    font-family: 'slight', sans-serif;

    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
  }
  .product .info{
    min-height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

/* product item sttyle only */
.product_view{
  border: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
  .product h1.name{
    display: inline-block;
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-family: 'slight', sans-serif;
  }
  .product_view .discount{
    margin-bottom: 15px;

    font-size: 36px;
    line-height: 36px;
    color: #c4161c;
    font-family: 'sbold', sans-serif;
  }
  .product_view .btn_buy{
    margin-left: 45px;
  }
  .product_view .specification .title{
    margin-bottom: 25px;
    font-size: 24px;
    font-family: 'slight', sans-serif;
  }
  @media(max-width: 991px){
    .exterior_page .product{ flex-direction: column;}
    .exterior_page .product .info{ padding-left: 15px; }

    .product *{ text-align: center; }
    .product img,
    .product .btn_buy{ margin: 0 auto; }
    .product .old_price{ margin-left: 0; }
  }